*pyc
*pth
*json
*tar
*zip
*jpg
*jpeg
*png
*env
models/cipo
models/cipo.zip
models/openlane.pth
config/_base_/once_eval_config.json
data/openlane/lane3d_1000
data/openlane/images
pretrained_models/openlane_lite.pth
pretrained_models/openlane.pth
word_dirs/openlane
work_dirs/openlane/release_iccv/latr_1000_baseline_lite/
work_dirs/openlane/release_iccv/latr_1000_baseline_lite/Tensorboard/
work_dirs/openlane/release_iccv/latr_1000_baseline_lite/logs/
